@use '../assets/styles/variables' as vars;

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #141414;
  color: vars.$primary-color;
}

.loading-reel {
  width: 80px;
  height: 80px;
  border: 8px solid vars.$primary-color;
  border-top: 8px solid #141414;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  color: vars.$primary-color;
}
